.container {
  max-width: 1244px;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  background-color: rgb(235, 237, 237);
  padding: 0;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.image {
  display: block;
}
